[Unit]
Description=anilist-plex-scrobbler
After=network.target

[Service]
ExecStart=/usr/bin/npm start -- --config config.yaml
WorkingDirectory=/opt/anilist-plex-scrobbler
StandardOutput=inherit
StandardError=inherit
Restart=always
DynamicUser=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
