[Unit]
Description=Plex Anilist Scrobbler
After=network.target

[Service]
ExecStart=/usr/bin/npm start -- --config config.yaml
WorkingDirectory=/opt/plex-anilist-scrobbler
StandardOutput=inherit
StandardError=inherit
Restart=always
DynamicUser=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
